body {
  background-image: url("../image/004.jpg");
}


.head {
  font-size: 50px;
  font-family: Comic Sans MS, Comic Sans, cursive;
}

#sitebody {
  width: 1000px;
  margin: 0 auto;
}
    
#header {
  background-color: rgb(88, 95, 92);
  height: 80px;
  text-align: center;
  line-height: 80px;
}
    
#sidebar_left {
  /* background-color: rgb(173, 155, 155); */
  width: 350px;
  height: 400px;
  text-align: center;
  line-height: 400px;
  float: left;
}
    
#content {
  margin-left: 350px;
  margin-right: 0px;
  height: 400px;
  /* background-color: rgb(211, 219, 211); */
  text-align: center;
  line-height: 100px;
}
    


.link{
  font-size:22px;
  color: rgb(63, 65, 63);
  background-color: transparent;
  text-decoration: none;
}